In [1]:
# SUMMARY:

"""

    This is where I am cleaning the PM 2.5 AQI dataset. It was very messy but I basically cleaned it 
    with two ideas in mind. One, identify the city based on the "Location" column which has 
    coordinates. Two, I distinguish if the cities are in Los Angeles based on a list provided by 
    Wikipedia (https://en.wikipedia.org/wiki/List_of_cities_in_Los_Angeles_County,_California). 

"""

'\n\n    This is where I am cleaning the PM 2.5 AQI dataset. It was very messy but I basically\n    cleaned it with two ideas in mind. One, identify the city based on the "Location" column \n    which has coordinates. Then I distin\n\n'

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("./datafile/LA_pm2.5.csv")
df.head()

,Policy Area,Dataset,Variable,Year,Count,Tract,Tract Number,Neighborhood,GEOID,Location,Row ID,Date
0,Environment,Air Quality,PM2.5 Concentration,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",101110,Tujunga,1400000US06037101110,"(34.2595555, -118.293602)",PM2.5_Concentration_2014_1400000US06037101110,01/01/2014
1,Environment,Air Quality,PM2.5 Concentration,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",101122,Tujunga,1400000US06037101122,"(34.267357, -118.29024)",PM2.5_Concentration_2014_1400000US06037101122,01/01/2014
2,Environment,Air Quality,PM2.5 Concentration,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",101210,Tujunga,1400000US06037101210,"(34.251998, -118.2926875)",PM2.5_Concentration_2014_1400000US06037101210,01/01/2014
3,Environment,Air Quality,PM2.5 Concentration,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",101220,Tujunga,1400000US06037101220,"(34.2511895, -118.281014)",PM2.5_Concentration_2014_1400000US06037101220,01/01/2014
4,Environment,Air Quality,PM2.5 Concentration,2014,11.189527,"Census Tract 1013, Los Angeles County, California",101300,Tujunga,1400000US06037101300,"(34.2455945, -118.271731)",PM2.5_Concentration_2014_1400000US06037101300,01/01/2014

In [3]:
df["Policy Area"].value_counts()

Environment    4684
Name: Policy Area, dtype: int64

In [4]:
df["Dataset"].value_counts()

Air Quality    4684
Name: Dataset, dtype: int64

In [5]:
df["Variable"].value_counts()

PM2.5 Concentration    4684
Name: Variable, dtype: int64

In [6]:
df = df.drop(columns = ["Policy Area", "Dataset", "Variable","Row ID","Tract Number"])
df.head()

,Year,Count,Tract,Neighborhood,GEOID,Location,Date
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,1400000US06037101110,"(34.2595555, -118.293602)",01/01/2014
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,1400000US06037101122,"(34.267357, -118.29024)",01/01/2014
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,1400000US06037101210,"(34.251998, -118.2926875)",01/01/2014
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,1400000US06037101220,"(34.2511895, -118.281014)",01/01/2014
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,1400000US06037101300,"(34.2455945, -118.271731)",01/01/2014

In [7]:
months = [None, "January", "February", "March", "April", "May", 
          "June", "July", "August", "September", "October", "November", "December" ]
month_df = []
date_track = ""
for i in range(len(df)):
    for j in range(len(df["Date"][i])):
        if df["Date"][i][j] != "/":
            date_track += df["Date"][i][j]
        else:
            month_int = int(date_track)
            month_df.append(months[month_int])
            date_track = ""
            break

df["Month"] = month_df
df.head()

,Year,Count,Tract,Neighborhood,GEOID,Location,Date,Month
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,1400000US06037101110,"(34.2595555, -118.293602)",01/01/2014,January
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,1400000US06037101122,"(34.267357, -118.29024)",01/01/2014,January
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,1400000US06037101210,"(34.251998, -118.2926875)",01/01/2014,January
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,1400000US06037101220,"(34.2511895, -118.281014)",01/01/2014,January
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,1400000US06037101300,"(34.2455945, -118.271731)",01/01/2014,January

In [8]:
df["Date"].value_counts()

01/01/2014    2342
01/01/2017    2342
Name: Date, dtype: int64

In [9]:
df = df.drop(columns = "Date")
df.head()

,Year,Count,Tract,Neighborhood,GEOID,Location,Month
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,1400000US06037101110,"(34.2595555, -118.293602)",January
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,1400000US06037101122,"(34.267357, -118.29024)",January
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,1400000US06037101210,"(34.251998, -118.2926875)",January
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,1400000US06037101220,"(34.2511895, -118.281014)",January
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,1400000US06037101300,"(34.2455945, -118.271731)",January

In [10]:
df = df.drop(columns = "GEOID")
df.head()

,Year,Count,Tract,Neighborhood,Location,Month
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,"(34.2595555, -118.293602)",January
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,"(34.267357, -118.29024)",January
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,"(34.251998, -118.2926875)",January
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,"(34.2511895, -118.281014)",January
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,"(34.2455945, -118.271731)",January

In [11]:
df["Location"]

0                       (34.2595555, -118.293602)
1                         (34.267357, -118.29024)
2                       (34.251998, -118.2926875)
3                       (34.2511895, -118.281014)
4                       (34.2455945, -118.271731)
                          ...
4679                   (34.2727625, -118.2952615)
4680                  (33.93683848, -118.4083005)
4681                    (33.9090245, -118.412818)
4682                     (33.73751, -118.2614255)
4683    (33.751351467400355, -118.21615399999982)
Name: Location, Length: 4684, dtype: object

In [12]:
def create_geography(geoPoints):
    longitude = []
    latitude = []
    forbidden = [",", "(", ")"]
    split_str = []
    for i in range(len(geoPoints)):
        split_str.append(geoPoints[i].replace(")", "").replace("(", "").replace(" ", "").split(","))
    for j in range(len(split_str)):
        longitude += [split_str[j][0]]
        latitude += [split_str[j][1]]
    return [longitude, latitude]

geoPoints = []
for i in range(len(df["Location"])):
    geoPoints.append(df["Location"][i])

newCoordinates = create_geography(geoPoints)

In [13]:
df["Longitude"] = newCoordinates[0]
df.head()

,Year,Count,Tract,Neighborhood,Location,Month,Longitude
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,"(34.2595555, -118.293602)",January,34.2595555
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,"(34.267357, -118.29024)",January,34.267357
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,"(34.251998, -118.2926875)",January,34.251998
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,"(34.2511895, -118.281014)",January,34.2511895
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,"(34.2455945, -118.271731)",January,34.2455945

In [14]:
df["Latitude"] = newCoordinates[1]
df.head()

,Year,Count,Tract,Neighborhood,Location,Month,Longitude,Latitude
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,"(34.2595555, -118.293602)",January,34.2595555,-118.293602
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,"(34.267357, -118.29024)",January,34.267357,-118.29024
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,"(34.251998, -118.2926875)",January,34.251998,-118.2926875
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,"(34.2511895, -118.281014)",January,34.2511895,-118.281014
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,"(34.2455945, -118.271731)",January,34.2455945,-118.271731

In [15]:
import reverse_geocoder as rg 

def reverseGeocode(coordinates): 
    result = rg.search(coordinates)
    return (result)


coordinates =list(zip(df['Longitude'],df['Latitude'])) # generates pair of (lat,long)
data = reverseGeocode(coordinates)

df['CITY'] = [i["name"] for i in data]

df.head()

Loading formatted geocoded file...

,Year,Count,Tract,Neighborhood,Location,Month,Longitude,Latitude,CITY
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,"(34.2595555, -118.293602)",January,34.2595555,-118.293602,La Crescenta-Montrose
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,"(34.267357, -118.29024)",January,34.267357,-118.29024,La Crescenta-Montrose
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,"(34.251998, -118.2926875)",January,34.251998,-118.2926875,La Crescenta-Montrose
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,"(34.2511895, -118.281014)",January,34.2511895,-118.281014,La Crescenta-Montrose
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,"(34.2455945, -118.271731)",January,34.2455945,-118.271731,La Crescenta-Montrose

In [16]:
df = df.drop(columns = "Location")
df.head()

,Year,Count,Tract,Neighborhood,Month,Longitude,Latitude,CITY
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,January,34.2595555,-118.293602,La Crescenta-Montrose
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,January,34.267357,-118.29024,La Crescenta-Montrose
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,January,34.251998,-118.2926875,La Crescenta-Montrose
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,January,34.2511895,-118.281014,La Crescenta-Montrose
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,January,34.2455945,-118.271731,La Crescenta-Montrose

In [18]:
df["CITY"].value_counts()

San Fernando              150
Van Nuys                  128
Silver Lake               120
North Hollywood           116
Northridge                114
                         ...
Leona Valley                4
Vincent                     4
Edwards Air Force Base      2
Las Flores                  2
Oak Park                    2
Name: CITY, Length: 160, dtype: int64

In [20]:
list(df["CITY"].unique())

['La Crescenta-Montrose',
 'North Hollywood',
 'Burbank',
 'San Fernando',
 'Santa Clarita',
 'Northridge',
 'Chatsworth',
 'West Hills',
 'Canoga Park',
 'Van Nuys',
 'Sherman Oaks',
 'Universal City',
 'Woodland Hills',
 'Calabasas',
 'Hidden Hills',
 'Glendale',
 'South Pasadena',
 'Echo Park',
 'Silver Lake',
 'Hollywood',
 'West Hollywood',
 'Los Angeles',
 'Boyle Heights',
 'Belvedere',
 'Beverly Hills',
 'Culver City',
 'View Park-Windsor Hills',
 'Huntington Park',
 'Florence-Graham',
 'Inglewood',
 'Ladera Heights',
 'Westmont',
 'Willowbrook',
 'West Athens',
 'South Gate',
 'Lynwood',
 'Westwood, Los Angeles',
 'Santa Monica',
 'Topanga',
 'Century City',
 'Marina del Rey',
 'Lennox',
 'El Segundo',
 'West Rancho Dominguez',
 'Gardena',
 'Carson',
 'West Carson',
 'Lomita',
 'San Pedro',
 'North Glendale',
 'La Canada Flintridge',
 'La Verne',
 'Claremont',
 'San Dimas',
 'Glendora',
 'Azusa',
 'Charter Oak',
 'Pomona',
 'Diamond Bar',
 'Walnut',
 'Covina',
 'Citrus',
 'Irwindale',
 'Baldwin Park',
 'El Monte',
 'West Puente Valley',
 'West Covina',
 'Valinda',
 'Avocado Heights',
 'La Puente',
 'South San Jose Hills',
 'Hacienda Heights',
 'Rowland Heights',
 'La Habra Heights',
 'Bradbury',
 'Duarte',
 'Monrovia',
 'Arcadia',
 'Sierra Madre',
 'Temple City',
 'Mayflower Village',
 'North El Monte',
 'East San Gabriel',
 'Rosemead',
 'South El Monte',
 'South San Gabriel',
 'East Pasadena',
 'Altadena',
 'Pasadena',
 'San Marino',
 'San Gabriel',
 'Alhambra',
 'Monterey Park',
 'Montebello',
 'East La Mirada',
 'West Whittier-Los Nietos',
 'Pico Rivera',
 'Whittier',
 'South Whittier',
 'Santa Fe Springs',
 'La Mirada',
 'Buena Park',
 'Norwalk',
 'Commerce',
 'East Los Angeles',
 'Maywood',
 'Walnut Park',
 'Bell',
 'Cudahy',
 'Bell Gardens',
 'Paramount',
 'East Rancho Dominguez',
 'Compton',
 'Signal Hill',
 'Downey',
 'Bellflower',
 'Lakewood',
 'Cerritos',
 'Artesia',
 'La Palma',
 'Hawaiian Gardens',
 'Long Beach',
 'Los Alamitos',
 'Rossmoor',
 'Seal Beach',
 'Avalon',
 'Hawthorne',
 'Del Aire',
 'Alondra Park',
 'Lawndale',
 'Manhattan Beach',
 'Hermosa Beach',
 'Redondo Beach',
 'Palos Verdes Estates',
 'Torrance',
 'Rolling Hills Estates',
 'Rolling Hills',
 'Rancho Palos Verdes',
 'Agoura Hills',
 'Westlake Village',
 'Agoura',
 'Oak Park',
 'Malibu',
 'Malibu Beach',
 'Las Flores',
 'Lake Los Angeles',
 'Lancaster',
 'Quartz Hill',
 'Leona Valley',
 'Green Valley',
 'Littlerock',
 'Palmdale',
 'Desert View Highlands',
 'Vincent',
 'Acton',
 'Agua Dulce',
 'Castaic',
 'Val Verde',
 'Valencia',
 'Edwards Air Force Base']

In [18]:
a = "Acton $bbbbbbbb  Agoura Hills $bbbbbbbb  Alhambra $bbbbbbbb  Altadena $bbbbbbbb  Arcadia $bbbbbbbb  Artesia $bbbbbbbb  Avalon $bbbbbbbb  Azusa $bbbbbbbb  Baldwin Park $bbbbbbbb  Bell Gardens Bellflower $bbbbbbbb  Beverly Hills $bbbbbbbb  Burbank $bbbbbbbb  Calabasas $bbbbbbbb  Canoga Park $bbbbbbbb  Canyon Country $bbbbbbbb  Carson $bbbbbbbb  Castaic $bbbbbbbb  Cerritos $bbbbbbbb  Chatsworth $bbbbbbbb  Claremont $bbbbbbbb  Compton $bbbbbbbb  Covina $bbbbbbbb  Culver City $bbbbbbbb  Diamond Bar $bbbbbbbb  Downey $bbbbbbbb  Duarte $bbbbbbbb  El Monte $bbbbbbbb  El Segundo"
b = "$bbbbbbbb  Encino $bbbbbbbb  Gardena $bbbbbbbb  Glendale $bbbbbbbb  Glendora $bbbbbbbb  Granada Hills $bbbbbbbb  Hacienda Heights $bbbbbbbb  Harbor City $bbbbbbbb  Hawaiian Gardens $bbbbbbbb  Hawthorne $bbbbbbbb  Hermosa Beach $bbbbbbbb  Huntington Park $bbbbbbbb  Inglewood $bbbbbbbb  La Canada Flintridge $bbbbbbbb  La Crescenta $bbbbbbbb  La Mirada $bbbbbbbb  La Puente $bbbbbbbb  La Verne $bbbbbbbb  Lake Hughes $bbbbbbbb  Lakewood $bbbbbbbb  Lancaster $bbbbbbbb  Lawndale $bbbbbbbb  Littlerock $bbbbbbbb  Llano $bbbbbbbb  Lomita $bbbbbbbb  Long Beach $bbbbbbbb  Los Angeles"
c = "$bbbbbbbb  Lynwood $bbbbbbbb  Malibu $bbbbbbbb  Manhattan Beach $bbbbbbbb  Marina Del Rey $bbbbbbbb  Maywood $bbbbbbbb  Mission Hills $bbbbbbbb  Monrovia"
d = "$bbbbbbbb  Montebello $bbbbbbbb  Monterey Park $bbbbbbbb  Montrose $bbbbbbbb  Mount Wilson $bbbbbbbb  Newhall $bbbbbbbb  North Hills $bbbbbbbb  North Hollywood"
e = "$bbbbbbbb  Northridge $bbbbbbbb  Norwalk $bbbbbbbb  Pacific Palisades $bbbbbbbb  Pacoima $bbbbbbbb  Palmdale $bbbbbbbb  Palos Verdes Peninsula" 
f = "$bbbbbbbb  Panorama City $bbbbbbbb  Paramount $bbbbbbbb  Pasadena $bbbbbbbb  Pearblossom $bbbbbbbb  Pico Rivera $bbbbbbbb  Playa Del Rey $bbbbbbbb  Playa Vista"
g = "$bbbbbbbb  Pomona $bbbbbbbb  Porter Ranch $bbbbbbbb  Rancho Palos Verdes $bbbbbbbb  Redondo Beach $bbbbbbbb  Reseda $bbbbbbbb  Rosemead $bbbbbbbb  Rowland Heights"
h = "$bbbbbbbb  San Dimas $bbbbbbbb  San Fernando $bbbbbbbb  San Gabriel $bbbbbbbb  San Marino $bbbbbbbb  San Pedro $bbbbbbbb  Santa Clarita $bbbbbbbb  Santa Fe Springs"
i = "$bbbbbbbb  Santa Monica $bbbbbbbb  Sherman Oaks $bbbbbbbb  Sierra Madre $bbbbbbbb  Signal Hill $bbbbbbbb  South El Monte $bbbbbbbb  South Gate"
j = "$bbbbbbbb  South Pasadena $bbbbbbbb  Stevenson Ranch $bbbbbbbb  Studio City $bbbbbbbb  Sun Valley $bbbbbbbb  Sunland $bbbbbbbb  Sylmar"
k = "$bbbbbbbb  Tarzana $bbbbbbbb  Temple City $bbbbbbbb  Topanga $bbbbbbbb  Torrance $bbbbbbbb  Tujunga $bbbbbbbb  Valencia $bbbbbbbb  Valley Village"
l = "$bbbbbbbb  Valyermo $bbbbbbbb  Van Nuys $bbbbbbbb  Venice $bbbbbbbb  Verdugo City $bbbbbbbb  Walnut $bbbbbbbb  West Covina $bbbbbbbb  West Hills"
m = "$bbbbbbbb  West Hollywood $bbbbbbbb  Whittier $bbbbbbbb  Wilmington $bbbbbbbb  Winnetka $bbbbbbbb  Woodland Hills"



all_LosAngeles_cities = a+b+c+d+e+f+g+h+i+k+l+m

print(all_LosAngeles_cities)

Acton $bbbbbbbb  Agoura Hills $bbbbbbbb  Alhambra $bbbbbbbb  Altadena $bbbbbbbb  Arcadia $bbbbbbbb  Artesia $bbbbbbbb  Avalon $bbbbbbbb  Azusa $bbbbbbbb  Baldwin Park $bbbbbbbb  Bell Gardens Bellflower $bbbbbbbb  Beverly Hills $bbbbbbbb  Burbank $bbbbbbbb  Calabasas $bbbbbbbb  Canoga Park $bbbbbbbb  Canyon Country $bbbbbbbb  Carson $bbbbbbbb  Castaic $bbbbbbbb  Cerritos $bbbbbbbb  Chatsworth $bbbbbbbb  Claremont $bbbbbbbb  Compton $bbbbbbbb  Covina $bbbbbbbb  Culver City $bbbbbbbb  Diamond Bar $bbbbbbbb  Downey $bbbbbbbb  Duarte $bbbbbbbb  El Monte $bbbbbbbb  El Segundo$bbbbbbbb  Encino $bbbbbbbb  Gardena $bbbbbbbb  Glendale $bbbbbbbb  Glendora $bbbbbbbb  Granada Hills $bbbbbbbb  Hacienda Heights $bbbbbbbb  Harbor City $bbbbbbbb  Hawaiian Gardens $bbbbbbbb  Hawthorne $bbbbbbbb  Hermosa Beach $bbbbbbbb  Huntington Park $bbbbbbbb  Inglewood $bbbbbbbb  La Canada Flintridge $bbbbbbbb  La Crescenta $bbbbbbbb  La Mirada $bbbbbbbb  La Puente $bbbbbbbb  La Verne $bbbbbbbb  Lake Hughes $bbbbbbbb  Lakewood $bbbbbbbb  Lancaster $bbbbbbbb  Lawndale $bbbbbbbb  Littlerock $bbbbbbbb  Llano $bbbbbbbb  Lomita $bbbbbbbb  Long Beach $bbbbbbbb  Los Angeles$bbbbbbbb  Lynwood $bbbbbbbb  Malibu $bbbbbbbb  Manhattan Beach $bbbbbbbb  Marina Del Rey $bbbbbbbb  Maywood $bbbbbbbb  Mission Hills $bbbbbbbb  Monrovia$bbbbbbbb  Montebello $bbbbbbbb  Monterey Park $bbbbbbbb  Montrose $bbbbbbbb  Mount Wilson $bbbbbbbb  Newhall $bbbbbbbb  North Hills $bbbbbbbb  North Hollywood$bbbbbbbb  Northridge $bbbbbbbb  Norwalk $bbbbbbbb  Pacific Palisades $bbbbbbbb  Pacoima $bbbbbbbb  Palmdale $bbbbbbbb  Palos Verdes Peninsula$bbbbbbbb  Panorama City $bbbbbbbb  Paramount $bbbbbbbb  Pasadena $bbbbbbbb  Pearblossom $bbbbbbbb  Pico Rivera $bbbbbbbb  Playa Del Rey $bbbbbbbb  Playa Vista$bbbbbbbb  Pomona $bbbbbbbb  Porter Ranch $bbbbbbbb  Rancho Palos Verdes $bbbbbbbb  Redondo Beach $bbbbbbbb  Reseda $bbbbbbbb  Rosemead $bbbbbbbb  Rowland Heights$bbbbbbbb  San Dimas $bbbbbbbb  San Fernando $bbbbbbbb  San Gabriel $bbbbbbbb  San Marino $bbbbbbbb  San Pedro $bbbbbbbb  Santa Clarita $bbbbbbbb  Santa Fe Springs$bbbbbbbb  Santa Monica $bbbbbbbb  Sherman Oaks $bbbbbbbb  Sierra Madre $bbbbbbbb  Signal Hill $bbbbbbbb  South El Monte $bbbbbbbb  South Gate$bbbbbbbb  Tarzana $bbbbbbbb  Temple City $bbbbbbbb  Topanga $bbbbbbbb  Torrance $bbbbbbbb  Tujunga $bbbbbbbb  Valencia $bbbbbbbb  Valley Village$bbbbbbbb  Valyermo $bbbbbbbb  Van Nuys $bbbbbbbb  Venice $bbbbbbbb  Verdugo City $bbbbbbbb  Walnut $bbbbbbbb  West Covina $bbbbbbbb  West Hills$bbbbbbbb  West Hollywood $bbbbbbbb  Whittier $bbbbbbbb  Wilmington $bbbbbbbb  Winnetka $bbbbbbbb  Woodland Hills

In [19]:
array_of_cities = all_LosAngeles_cities.split(" $bbbbbbbb  ")
array_of_cities

['Acton',
 'Agoura Hills',
 'Alhambra',
 'Altadena',
 'Arcadia',
 'Artesia',
 'Avalon',
 'Azusa',
 'Baldwin Park',
 'Bell Gardens Bellflower',
 'Beverly Hills',
 'Burbank',
 'Calabasas',
 'Canoga Park',
 'Canyon Country',
 'Carson',
 'Castaic',
 'Cerritos',
 'Chatsworth',
 'Claremont',
 'Compton',
 'Covina',
 'Culver City',
 'Diamond Bar',
 'Downey',
 'Duarte',
 'El Monte',
 'El Segundo$bbbbbbbb  Encino',
 'Gardena',
 'Glendale',
 'Glendora',
 'Granada Hills',
 'Hacienda Heights',
 'Harbor City',
 'Hawaiian Gardens',
 'Hawthorne',
 'Hermosa Beach',
 'Huntington Park',
 'Inglewood',
 'La Canada Flintridge',
 'La Crescenta',
 'La Mirada',
 'La Puente',
 'La Verne',
 'Lake Hughes',
 'Lakewood',
 'Lancaster',
 'Lawndale',
 'Littlerock',
 'Llano',
 'Lomita',
 'Long Beach',
 'Los Angeles$bbbbbbbb  Lynwood',
 'Malibu',
 'Manhattan Beach',
 'Marina Del Rey',
 'Maywood',
 'Mission Hills',
 'Monrovia$bbbbbbbb  Montebello',
 'Monterey Park',
 'Montrose',
 'Mount Wilson',
 'Newhall',
 'North Hills',
 'North Hollywood$bbbbbbbb  Northridge',
 'Norwalk',
 'Pacific Palisades',
 'Pacoima',
 'Palmdale',
 'Palos Verdes Peninsula$bbbbbbbb  Panorama City',
 'Paramount',
 'Pasadena',
 'Pearblossom',
 'Pico Rivera',
 'Playa Del Rey',
 'Playa Vista$bbbbbbbb  Pomona',
 'Porter Ranch',
 'Rancho Palos Verdes',
 'Redondo Beach',
 'Reseda',
 'Rosemead',
 'Rowland Heights$bbbbbbbb  San Dimas',
 'San Fernando',
 'San Gabriel',
 'San Marino',
 'San Pedro',
 'Santa Clarita',
 'Santa Fe Springs$bbbbbbbb  Santa Monica',
 'Sherman Oaks',
 'Sierra Madre',
 'Signal Hill',
 'South El Monte',
 'South Gate$bbbbbbbb  Tarzana',
 'Temple City',
 'Topanga',
 'Torrance',
 'Tujunga',
 'Valencia',
 'Valley Village$bbbbbbbb  Valyermo',
 'Van Nuys',
 'Venice',
 'Verdugo City',
 'Walnut',
 'West Covina',
 'West Hills$bbbbbbbb  West Hollywood',
 'Whittier',
 'Wilmington',
 'Winnetka',
 'Woodland Hills']

In [20]:
city_in_la = [ ]

for cities in df["CITY"]:
    if cities in array_of_cities:
        city_in_la.append(True)
    else:
        city_in_la.append(None)

df["City in LA?"] = city_in_la

In [21]:
df.head()

,Year,Count,Tract,Neighborhood,Month,Longitude,Latitude,CITY,City in LA?
0,2014,11.040100,"Census Tract 1011.10, Los Angeles County, Cali...",Tujunga,January,34.2595555,-118.293602,La Crescenta-Montrose,None
1,2014,10.953724,"Census Tract 1011.22, Los Angeles County, Cali...",Tujunga,January,34.267357,-118.29024,La Crescenta-Montrose,None
2,2014,11.114240,"Census Tract 1012.10, Los Angeles County, Cali...",Tujunga,January,34.251998,-118.2926875,La Crescenta-Montrose,None
3,2014,11.143084,"Census Tract 1012.20, Los Angeles County, Cali...",Tujunga,January,34.2511895,-118.281014,La Crescenta-Montrose,None
4,2014,11.189527,"Census Tract 1013, Los Angeles County, California",Tujunga,January,34.2455945,-118.271731,La Crescenta-Montrose,None

In [22]:
df = df.replace(to_replace='None', value=np.nan).dropna()

In [23]:
df.head()

,Year,Count,Tract,Neighborhood,Month,Longitude,Latitude,CITY,City in LA?
7,2014,11.391357,"Census Tract 1021.04, Los Angeles County, Cali...",Shadow Hills,January,34.216189,-118.3456235,Burbank,True
8,2014,11.443965,"Census Tract 1021.05, Los Angeles County, Cali...",Sun Valley,January,34.210852,-118.3480495,Burbank,True
9,2014,11.162434,"Census Tract 1021.07, Los Angeles County, Cali...",Shadow Hills,January,34.2412955,-118.3292705,Burbank,True
12,2014,10.807613,"Census Tract 1032, Los Angeles County, California",Lake View Terrace,January,34.2745565,-118.3439025,San Fernando,True
13,2014,10.949789,"Census Tract 1033, Los Angeles County, California",Shadow Hills,January,34.255439,-118.3527775,Burbank,True

In [24]:
df = df.drop(columns = "City in LA?")
df.head()

,Year,Count,Tract,Neighborhood,Month,Longitude,Latitude,CITY
7,2014,11.391357,"Census Tract 1021.04, Los Angeles County, Cali...",Shadow Hills,January,34.216189,-118.3456235,Burbank
8,2014,11.443965,"Census Tract 1021.05, Los Angeles County, Cali...",Sun Valley,January,34.210852,-118.3480495,Burbank
9,2014,11.162434,"Census Tract 1021.07, Los Angeles County, Cali...",Shadow Hills,January,34.2412955,-118.3292705,Burbank
12,2014,10.807613,"Census Tract 1032, Los Angeles County, California",Lake View Terrace,January,34.2745565,-118.3439025,San Fernando
13,2014,10.949789,"Census Tract 1033, Los Angeles County, California",Shadow Hills,January,34.255439,-118.3527775,Burbank

In [ ]:
df.to_csv("datafile/LA_pm2.5_AQI_cleaned.csv", index = False)